@import '@/assets/css/utility.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	font-family: 'Inter', sans-serif;
	margin: 0px;
	padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

.search-collapse {
	display: flex;
	align-items: center;
	border: 1px solid map-get($colors, primary);
	border-radius: 5px;
	padding: 2px;
	width: 500px;
	img {
		padding: 8px;
	}
	input {
		flex-grow: 1;
		padding: 8px;
		border: none;
		border-radius: 4px;
		outline: none;
	}
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	color: #000;
}

.navbar-actions {
	display: flex;
	gap: 10px;
}

.hamburger-menu {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	width: 30px;
	height: 20px;
	cursor: pointer;
	.bar {
		width: 100%;
		height: 3px;
		background-color: map-get($colors, primary);
		border-radius: 2px;
	}
}

.hidden {
	display: none;
}

.mobile-menu {
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
}

.linear-background {
	background: linear-gradient(134.82deg, #126abb 0%, #0ab6c1 100%);
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: map-get($colors, blue-sky);
	color: white;
	font-weight: bold;
}

.shadow {
	box-shadow: 0px 10px 20px 0px #eff1f6;
}

.card {
	display: flex;
}

.card .background-image {
	object-fit: cover;
	z-index: 1;
	height: 240px;
}

.card .card-header {
	z-index: 2;
	position: relative;
	padding: 16px;
}

.card .card-body {
	z-index: 2;
	position: relative;
	padding: 16px;
	margin: 0 10px 0 10px;
	border-radius: 8px;
}

.horizontal-line {
	border: none;
	height: 1px;
	width: 100%;
	background-color: #e6e9ed;
}

.cursor-pointer {
	cursor: pointer;
}

.carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-container {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item {
	min-width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.carousel-item img {
	max-width: 100%;
	height: auto;
}

.pointer-carousel {
	width: 10px;
	height: 10px;
}

.pointer-carousel-active {
	width: 20px;
	height: 10px;
}

@media screen and (max-width: $mobile-breakpoint) {
	#desktop-navbar {
		display: none;
	}

	.search-collapse {
		width: 300px;
	}

	.hamburger-menu {
		display: flex;
	}

	.mobile-menu {
		display: flex;
	}

	#box-step-registration .p-medium {
		padding: 0px;
	}

	.card .card-body {
		padding: 8px;
		margin: 0 0 0 0;
		border-radius: 0px;
	}
}
