$font-sizes: (
	10: 10px,
	12: 12px,
	14: 14px,
	16: 16px,
	30: 30px,
);

$columns: 2, 3, 4, 5, 6;
$gaps: 10px, 20px, 30px, 40px;

$primary-color: #0aa8c1;
$blue-sky-color: #3bd7f0;

$mobile-breakpoint: 678px;

$margin-sizes: (
	small: 8px,
	medium: 16px,
	large: 24px,
	xlarge: 32px,
	xxlarge: 40px,
);

$padding-sizes: (
	small: 8px,
	medium: 16px,
	large: 24px,
	xlarge: 32px,
	xxlarge: 40px,
);
